.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    max-width: 1280px;
    margin:0 auto;
}
.imglogo{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.menulist{
    display: flex;
    font-weight: bold;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}